/* General rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
}

a{
    text-decoration: none;
    text-align: center;
}

/* Main */
main{
    display: flex;
    justify-content: flex-end;
}

/* Side bar */
/* Common */
main .side_container{
    width: 230px;
    height: calc(100vh - 95px);
    background-color: #000000;
    overflow: hidden;
}

main .side_container a{
    color: #757575;
    display: flex;
    align-items: center;
}

main .side_container .side_icons{
    height: 30px;
    width: 30px;
    margin: 5px 10px 5px 15px;
    filter: invert(45%) sepia(0%) saturate(18%) hue-rotate(199deg) brightness(101%) contrast(83%);
}

#start{
    color: white;
    border-left: 1px solid yellow;
}

#start_svg{
    filter: invert(30%) sepia(0%) saturate(18%) hue-rotate(199deg) brightness(101%) contrast(83%);
}

/* Logo */
main .side_container .logo{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 55px 15px 15px;
}

main .side_container .logo #small_logo{
    display: none;
    width: 30px;
}

/* Home */
main .side_container .home{
    height: 140px;
}

/* Playlist */
main .side_container .playlist span{
    display: inline-block;
    padding-left: 15px;
    margin-bottom: 5px;
}

main .side_container .playlist ul{
    overflow-y: auto;
    height: calc(100vh - 440px);
    min-height: 100px;
}

main .side_container .playlist li{
    padding: 10px 0 10px 15px;
}

.side_container .playlist .fa-square-plus{
    font-size: 50px;
    margin-right: 10px;
}

/* User */
main .side_container .user{
    height: 100px;
    padding: 0px 20px;
}

main .side_container .user a:first-child{
    border-bottom: 1px solid #757575;
}

main .side_container .user a{
    padding: 5px 0;
}

main .side_container .user img{
    margin-left: 0;
}

#install{
    height: 18px;
    width: auto;
}

#account{
    color: white;
}

#account_img{
    background: #808080;
    border-radius: 50%;
    filter: none;
}

/* Side hover */
main .side_container a:hover{
    color: white;
}

main .side_container a:hover .side_icons{
    filter: none;
}

#start:hover #start_svg{
    filter: none;
}
/* End side bar */

/* Call to action */
main .cta{
    width: calc(100% - 230px);
    height: 90px;
    position: fixed;
    z-index: 99999;
    background: #080b128f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main .cta a{
    color: white;
    border-radius: 25px;
    border: 1px solid white;
    padding: 13px 50px;
    margin-right: 25px;
}

main .cta a:hover{
    padding: 16px 70px;
    margin-right: 10px;
    font-size: 16px;
}
/* End call to action */

/* Main container */
main .container{
    width: calc(100% - 230px);
    overflow-y: auto;
    height: calc(100vh - 95px);
    background-color: #141922;
}

/* Nav */
main .container .nav{
    margin-top: 110px;
    margin-bottom: 20px;
}

main .container .nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .container .nav li{
    display: inline-block;
    padding: 10px 10px;
}

main .container .nav a{
    color: #757575;
}

.nav #start_main{
    border-bottom: 2px solid yellow;
    width: 40px;
    margin: auto;
    margin-top: 3px;
}

/* Recently played/Created for you/Famous artists */
main .container .title{
    width: 97%;
    margin: auto;
    margin-bottom: 30px;
    padding-left: 10px;
}

main .container .title h2{
    margin-bottom: 10px;
}

main .container .content_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 97%;
    margin: auto;
    margin-bottom: 30px;
    padding-left: 10px;
}

main .container .content_row .content_box{
    width: 15%;
    min-width: 100px;
    max-width: 250px;
    margin-right: 1%;
    margin-bottom: 10px;
}

.content_row .content_box .photo_container{
    position: relative;
}

.content_row .content_box img{
    width: 100%;
}

.content_row .content_box .circle_photo{
    border-radius: 50%;
}

.content_row .content_box #photo_player{
    color: white;
    font-size: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.content_row .content_box h3{
    margin: 8px 0;
    color: white;
}

.container span{
    color: #757575;
}

/* Main Media queries */
@media screen and (max-width: 900px) {
    main .container .content_row .content_box{
        width: 24%;
    }
}

@media screen and (max-width: 700px) {
    main .container .content_row .content_box{
        width: 48%;
    }
}

@media screen and (max-width: 630px) {
    main .side_container{
        width: 60px;
    }

    main .container{
        width: calc(100% - 60px);
    }

    main .cta{
        width: calc(100% - 60px);
    }

    main .side_container .playlist{
        display: none;
    }

    main .side_container .logo{
        height: 50px;
        padding: 0;
    }

    main .side_container span{
        display: none;
    }

    #start{
        border-left: none;
    }

    #big_logo{
        display: none;
    }

    main .side_container .logo #small_logo{
        display: block;
    }

    main .side_container .user a:first-child{
        border-bottom: none;
    }

    main .side_container .user{
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-end;
        height: calc(100vh - 285px);
        min-height: 70px;
    }

    #install, #account_img{
        margin: 0;
    }
}

/* Main container hover */
main .container .nav a:hover{
    color: white;
}

main .content_row .photo_container:hover img{
    filter: opacity(0.5);
}

main .content_row .photo_container:hover #photo_player{
    display: block;
}

/* Footer */
/* Common */
footer{
    width: 100%;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #282828;
}

footer ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

footer li{
    margin: 0 5px;
    display: flex;
    align-items: center;
}

footer a{
    color: #757575;
}

.left_comm .fa-regular, .middle_comm .fa-solid{
    font-size: 20px;
}

/* Bars */
footer .bar{
    height: 5px;
    background: #5a5a5a;
    border-radius: 25px;
}

footer .bar .counter{
    height: 5px;
    background: #c1c1c1;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

footer .bar .counter .round{
    background: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: none;
    position: absolute;
    right: -4px;
}
/* End common */

/* Left commands */
footer .playing{
    height: 50px;
    padding-left: 5px;
}

footer .playing_specs{
    padding: 0 15px;
}

footer .left_icons{
    flex-wrap: wrap;
}

footer .playing_specs a{
    font-size: 12px;
}

footer .left_icons a{
    margin-right: 10px
}

/* Middle commands */
.middle_comm .up_player, .middle_comm .down_player{
    display: flex;
    justify-content: center;
}

footer .middle_comm .up_player{
    padding-bottom: 10px;
}

footer .middle_comm{
    width: 40%;
}

.down_player #container_bar{
    width: 80%;
}

.down_player #a_bar{
    width: 100%;
}

footer .bar .video_counter{
    width: 20%;
    position: relative;
}

footer .middle_comm .fa-circle-play{
    font-size: 35px;
    margin: 1px 5px;
}

.middle_comm .fa-regular, .middle_comm .fa-solid{
    color: white;
}

footer .middle_comm li{
    padding: 0 5px;
}

footer .down_player li{
    margin: 0;
}

/* Right commands */
footer .right_comm a{
    color: white;
}

footer .sound_bar{
    width: 100px;
    margin-right: 10px
}

footer .bar .sound_counter{
    width: 30px;
    position: relative;
}

/* Footer hover */
footer .left_comm a:hover{
    color: white;
    text-decoration: underline;
}

footer .bar:hover .counter{
    background: yellow;
}

footer .bar:hover .counter .round{
    display: block;
}

footer .middle_comm .fa-circle-play:hover{
    font-size: 37px;
    margin: 0 4px;
}